__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

data/raw/*
!data/raw/.gitkeep
data/images/train/
data/images/val/
data/images/test/
data/labels/train/
data/labels/val/
data/labels/test/

models/*
!models/.gitkeep

outputs/images/*
!outputs/images/.gitkeep
outputs/videos/*
!outputs/videos/.gitkeep
outputs/reports/*
!outputs/reports/.gitkeep
outputs/training/

